@use './variables';
@use './mixins';

html {
  font-size: 14px;
}

body {
  font-family: variables.$font-family;
  font-size: 1rem;
  color: variables.$font-color;
  overflow-x: hidden;
}

h1 {
  font-size: 3.125rem;
}
h2 {
  font-size: 2.25rem;
}

p {
  font-size: 1.125rem;
}

a {
  color: variables.$color-green;
  &:hover {
    color: variables.$color-green-light;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  li {
    &::before {
      content: "\2022";
      display: inline-block;
      color: variables.$color-green;
      font-weight: bold;
      width: 1em;
      margin-left: -1em;
      transform: scale(1.3);
    }
  }
  &.no-bullets {
    li::before {
      display: none;
    }
  }
}

// layout
.container {
  max-width: variables.$container-width;
  &.has-breadcrumb {
    margin-top: 2.1875rem;
  }
}
.container-fluid {
  max-width: variables.$container-fluid-width;
}
.row:not(.no-gutters) {
  // gutter 10px
  margin-right: -0.625rem;
  margin-left: -0.625rem;
  > [class*="col-"] {
    padding-right: 0.625rem;
    padding-left: 0.625rem;
  }
}

// font weight
.font-weight-200 {
  font-weight: variables.$font-weight-200;
}
.font-weight-300 {
  font-weight: variables.$font-weight-300;
}
.font-weight-400 {
  font-weight: variables.$font-weight-400;
}
.font-weight-500 {
  font-weight: variables.$font-weight-500;
}
.font-weight-700 {
  font-weight: 700;
}

// font colors
.text-accent {
  color: variables.$color-green;
}
.text-black {
  color: variables.$color-black;
}
.text-white {
  color: variables.$color-white;
}
.text-green {
  color: variables.$color-green;
}
.text-green2 {
  color: variables.$color-green2;
}
.text-green-light {
  color: variables.$color-green-light;
}
.text-green-light2 {
  color: variables.$color-green-light2;
}
.text-brown {
  color: variables.$color-brown;
}
.text-yellow {
  color: variables.$color-yellow;
}
.text-gray {
  color: variables.$color-gray;
}
.text-gray-light {
  color: variables.$color-gray-light;
}
.text-gray-lighter {
  color: variables.$color-gray-lighter;
}

// bg colors
.bg-black {
  background-color: variables.$color-black;
}
.bg-white {
  background-color: variables.$color-white;
}
.bg-green {
  background-color: variables.$color-green;
}
.bg-green2 {
  background-color: variables.$color-green2;
}
.bg-green-light {
  background-color: variables.$color-green-light;
}
.bg-green-light2 {
  background-color: variables.$color-green-light2;
}
.bg-green-dark {
  background-color: variables.$color-green-dark;
}
.bg-brown {
  background-color: variables.$color-brown;
}
.bg-yellow {
  background-color: variables.$color-yellow;
}
.bg-gray {
  background-color: variables.$color-gray;
}
.bg-gray-light {
  background-color: variables.$color-gray-light;
}
.bg-gray-lighter {
  background-color: variables.$color-gray-lighter;
}

// border
.border {
  border: variables.$border-bottom;
}
.border-bottom {
  border-bottom: variables.$border-bottom;
}

// button
.button {
  position: relative;
  display: inline-flex; // or flex
  min-width: 9.375rem;
  align-items: center;
  justify-content: center;
  padding: 0 0.625rem;
  height: 4.0625rem; // override on usage
  font-size: 1rem;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  &:hover {
    text-decoration: none;
  }

  &.button-round {
    border-radius: 12px;
  }

  &.button-elevate {
    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0.3125rem;
      right: -0.3125rem;
      width: 100%;
      height: 100%;
      background-color: variables.$color-white;
      box-shadow: 20px 20px 8px rgba(0, 0, 0, 0.4);
      opacity: 0;
      transition: variables.$all-200ms-ease;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  &.button-black {
    color: variables.$color-white;
    background-color: variables.$color-black;
  }
  &.button-green-light {
    color: variables.$color-white;
    background-color: variables.$color-green-light;
  }
  &.button-green {
    color: variables.$color-white;
    background-color: variables.$color-green;
  }
  &.button-brown {
    color: variables.$color-white;
    background-color: variables.$color-brown;
  }
  &.button-gray {
    color: variables.$color-white;
    background-color: variables.$color-gray;
  }
  &.button-gray-light {
    color: variables.$color-black;
    background-color: variables.$color-gray-light;
  }
}

// header box
.header-box {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 7.8125rem;
  height: 4rem; // override on usage
  font-weight: variables.$font-weight-300;
  text-decoration: none;

  i {
    position: absolute;
    z-index: 3;
    left: 0.563rem;
    bottom: 0.375rem;
    font-size: 2.8rem;
    color: variables.$color-white;
    transform: rotate(40deg);
  }

  &:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7.5rem;
    height: 100%;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
  }

  &.corner-green-light {
    &::before {
      background-color: variables.$color-green-light;
    }
  }
  &.corner-green {
    &::before {
      background-color: variables.$color-green;
    }
  }
  &.corner-green2 {
    &::before {
      background-color: variables.$color-green2;
    }
  }
  &.corner-green-dark {
    &::before {
      background-color: variables.$color-green-dark;
    }
  }
  &.corner-yellow {
    &::before {
      background-color: variables.$color-yellow;
    }
    i {
      color: variables.$color-black;
    }
  }

  &.header-box-animated {
    &.header-box-animated-light {
      &:hover {
        span {
          color: variables.$color-black !important;
        }
      }
    }
    &.header-box-animated-dark {
      &:hover {
        span {
          color: variables.$color-white !important;
        }
      }
    }
    span {
      z-index: 2;
      position: relative;
    }
    &::before {
      transition: variables.$all-200ms-ease;
      z-index: 1;
    }
    &:hover {
      cursor: pointer;
      &::before {
        width: 100%;
        clip-path: none;
      }
    }
  }

  &.header-box-social {
    font-weight: variables.$font-weight-500;
    padding-left: 5rem;
    &::before {
      width: 4rem;
    }
    i {
      font-size: 1.5rem;
      left: 0.8rem;
      bottom: 0.8rem;
    }
    i.fab {
      transform: rotate(0deg);
    }
  }
}

// social button
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.8125rem;
  height: 2.8125rem;
  border-radius: 50%;
  margin-right: 0.4375rem;
  background-color: variables.$color-green-light;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: variables.$color-green;
  }
  i {
    color: white;
    font-size: 1.875rem;
  }
}

// icon count
.icon-count {
  display: flex;
  align-items: center;
  &:not(:last-child) {
    margin-right: 0.75rem;
  }
  i {
    font-size: 1.125rem;
  }
  span {
    margin-left: 0.3125rem;
    font-size: 1rem;
    font-weight: variables.$font-weight-300;
    @include mixins.media-breakpoint-sm {
      font-size: 1rem;
    }
  }
  &.icon-count-dark {
    i {
      color: variables.$color-black;
    }
    span {
      padding: 0 0.25rem;
      line-height: 1.25rem;
      color: variables.$color-white;
      background-color: variables.$color-black;
      border-radius: 3px;
    }
  }
  &.icon-count-gray {
    span,
    i {
      color: variables.$color-gray;
    }
  }
  &.icon-count-white {
    span,
    i {
      color: variables.$color-white;
    }
  }
}

// tags
.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1rem;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.5625rem;
    min-width: 3.75rem;
    border-radius: 50px;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
    padding: 0 0.9375rem;
    background-color: variables.$font-color;
    color: variables.$color-white;
    font-weight: variables.$font-weight-200;
    cursor: pointer;
    &:first-child {
      margin-left: 1.25rem;
    }
  }
}

// icon
.icon {
  color: variables.$color-green;
}

// form
.input {
  position: relative;

  input,
  textarea {
    padding: 0.4375rem 0.8125rem;
    width: 100%;
    height: 100%;
    min-height: 2.5rem;
    font-size: 1rem;
    border: 1px solid variables.$color-gray-light;
    outline: none;
    &::placeholder {
      color: variables.$placeholder-color;
    }
    &:-moz-placeholder {
      color: variables.$placeholder-color;
    }
    &:-ms-input-placeholder {
      color: variables.$placeholder-color;
    }
    &::-webkit-input-placeholder {
      color: variables.$placeholder-color;
    }
  }
  .input-icon {
    position: absolute;
    right: 0.8125rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
  }
}

.input-file {
  .input-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  label {
    display: flex;
    align-items: stretch;
    margin-bottom: 0;
    height: 2.5rem;
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0;
    cursor: pointer;

    .filename-upload {
      display: flex;
      align-items: center;
      flex: 1 1 auto;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid variables.$color-gray-light;
      background-color: variables.$color-white;
      padding-left: 1.25rem;
    }

    .button-upload {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1.25rem;
      flex: 0 0 8.125rem;
      color: variables.$color-white;
      background-color: variables.$color-black;
    }
  }
}

.select {
  position: relative;

  select {
    position: relative;
    z-index: 2;
    padding: 0 0.8125rem;
    width: 100%;
    height: 100%;
    min-height: 2.5rem;
    font-size: 1rem;
    outline: none;
    border: 1px solid variables.$color-gray-light;
    background-color: transparent;
    &::placeholder {
      color: variables.$placeholder-color;
    }
    &:-moz-placeholder {
      color: variables.$placeholder-color;
    }
    &:-ms-input-placeholder {
      color: variables.$placeholder-color;
    }
    &::-webkit-input-placeholder {
      color: variables.$placeholder-color;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    &::-ms-expand {
      display: none;
    }
  }

  &::after {
    content: "\f078";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 0.6875rem;
    width: 100%;
    height: 100%;
    color: variables.$color-green;
    background: linear-gradient(
      90deg,
      variables.$color-white calc(100% - 2.25rem),
      variables.$color-gray-light 2.25rem
    );
  }
}

.checkbox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.1875rem;
  margin-right: auto;
  margin-bottom: 0.75rem;
  user-select: none;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      border: 3px solid variables.$color-green;
      &::after {
        display: block;
      }
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1.125rem;
    width: 1.125rem;
    border: 1px solid variables.$color-gray-light;
    background-color: variables.$color-white;

    &::after {
      display: none;
      content: "\f00c";
      position: absolute;
      top: -0.125rem;
      left: 0.0625rem;
      font-family: "Font Awesome 5 Free";
      font-size: 0.9375rem;
      font-weight: bold;
      line-height: 1;
    }
  }
}

.radio {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 2.1875rem;
  margin-right: auto;
  margin-bottom: 0.75rem;
  user-select: none;
  cursor: pointer;

  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      border: 1px solid variables.$color-green;
      background-color: variables.$color-green;
    }
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    background-color: variables.$color-white;
    border: 1px solid variables.$color-gray-light;
    border-radius: 50%;
  }
}

// Breadcrumb
.app-breadcrumb-holder {
  position: relative;
}
.app-breadcrumb {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 0.3125rem;
    background-color: variables.$color-green;
  }
  .app-breadcrumb-item {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1.25rem 0 0.9375rem;
    height: 2.1875rem;
    background-color: variables.$color-green;

    a {
      font-size: 1rem;
      color: variables.$color-white;
      text-decoration: none;
    }

    &:not(:nth-last-child(-n + 2)) {
      &::after {
        content: "\f054";
        font-family: "Font Awesome 5 Free";
        font-size: 0.75rem;
        font-weight: bold;
        color: variables.$font-color;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    &:last-child {
      background-color: variables.$color-green-light;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -0.5rem;
        width: 1.3125rem;
        height: 100%;
        background-color: variables.$color-green-light;
        z-index: 2;
        transform: skew(-30deg);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -0.6875rem;
        width: 1.3125rem;
        height: 100%;
        background-color: variables.$color-green-light;
        z-index: 2;
        transform: skew(-30deg);
      }
    }
  }
}

// Contact card
.contact-card {
  font-size: 1rem;
  font-weight: variables.$font-weight-300;
  line-height: 1.2;
  padding-bottom: 0.9375rem;
  &:not(:first-child) {
    padding-top: 0.9375rem;
  }
  &:not(:last-child) {
    border-bottom: variables.$border-bottom;
  }
  .main-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.9375rem;
    font-weight: variables.$font-weight-500;
    .title {
      color: variables.$color-green;
    }
    .detail {
      font-weight: variables.$font-weight-300;
      line-height: 1.6;
    }
  }
  .sub-info {
    display: flex;
    word-break: break-all;
  }
}

// Pagination
.app-pagination {
  align-items: center;
  li::before {
    display: none;
  }
  a {
    text-decoration: none;
  }
  .page-item {
    margin: 0 0.625rem;
    @include mixins.media-breakpoint-md {
      margin: 0;
    }
    .page-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      padding: 0 0.6875rem;
      font-size: 1rem;
      font-weight: variables.$font-weight-500;
      color: variables.$color-black;
      background-color: transparent;
      border: none;
      border-radius: 3px;
      box-shadow: none;
      outline: none;
    }
    &:not(.disabled):not(.active):hover {
      .page-link {
        color: variables.$color-white;
        background-color: variables.$color-black;
        border-color: variables.$color-black;
      }
    }
    &.page-item-icon {
      .page-link {
        color: variables.$color-green;
        span {
          font-size: 1.875rem;
        }
      }
      &:first-child,
      &:last-child {
        margin: 0;
      }
    }
    &.active {
      .page-link {
        color: variables.$color-green-light;
        background-color: variables.$color-black;
        border-color: variables.$color-black;
      }
    }
    &.disabled {
      .page-link {
        color: variables.$color-gray-light;
      }
    }
  }
}

// Search box
.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  background-color: variables.$color-white;
  .input,
  .select {
    width: 15rem;
    height: 2.5rem;

    &:not(:first-child) {
      margin-left: 0.625rem;
      @include mixins.media-breakpoint-md {
        margin-left: 0;
      }
    }
  }
  .select {
    &::after {
      background: variables.$color-white;
    }
  }
  .type-buttons {
    display: flex;
    margin-left: 0.9375rem;
    .type-button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid variables.$color-gray;
      cursor: pointer;
      &.active {
        background-color: variables.$color-green-light;
      }
      &:not(:first-child) {
        margin-left: 0.625rem;
      }
    }
  }
}

// Accordion
.app-accordion {
  font-size: 1rem;
  background-color: variables.$color-white;
  .app-accordion-title {
    display: flex;
    align-items: center;
    padding: 0 1.625rem;
    height: 3.3125rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: variables.$color-white;
    background-color: variables.$color-black;
  }
  .app-accordion-toggle {
    display: flex;
    align-items: center;
    padding: 0 1.625rem;
    height: 2rem;
    color: variables.$color-white;
    background-color: variables.$color-green-light;
    cursor: pointer;
    i {
      font-size: 1rem;
      margin-left: auto;
      transform: rotate(90deg);
      transition: variables.$all-200ms-ease;
    }

    &.collapsed {
      i {
        transform: rotate(0deg);
      }
    }
  }

  .app-accordion-list {
    $active-line-left-distance: 1.25rem;
    &:last-child {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    ul {
      position: relative;
      margin-top: 0.625rem;
      padding-left: $active-line-left-distance;
      padding-right: $active-line-left-distance;

      li {
        &::before {
          display: none;
        }
        a {
          display: flex;
          padding-left: 1.75rem;
          color: variables.$font-color;
          line-height: 1.7;
          text-decoration: none;
          transition: variables.$all-200ms-ease;
          &::before {
            content: "\2022";
            position: absolute;
            display: inline-block;
            margin-left: -1em;
            width: 0.9em;
            color: variables.$color-gray-light;
            font-weight: bold;
            transform: scale(1.3);
          }
          &:hover {
            font-weight: variables.$font-weight-500;
            color: variables.$color-green-light;
            &::before {
              color: variables.$color-green-light;
            }
          }
        }
      }
    }
  }
}

// News Card
.news-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 33.125rem;
  font-size: 1rem;
  transition: variables.$all-200ms-ease;

  &.news-card-v {
    .thumbnail {
      flex: 80%;
      border: none;
    }
    .news-detail {
      flex: 20%;
      background-color: variables.$color-gray-lighter;
      .title {
        @include mixins.text-overflow(1);
      }
      .detail {
        @include mixins.text-overflow(2);
      }
    }
  }

  &.news-card-h {
    flex-direction: row;
    .thumbnail {
      height: 100%;
      flex: 50%;
      border: none;
      img {
        min-height: 100%;
        width: auto;
      }
    }
    .news-detail {
      height: 100%;
      flex: 50%;
      color: variables.$color-white;
      background-color: variables.$color-green;
      .title {
        @include mixins.text-overflow(2);
      }
      .detail {
        @include mixins.text-overflow(10);
      }
    }
  }

  &.news-card-elevated,
  &:hover:not(.news-card-v):not(.news-card-h) {
    cursor: pointer;
    box-shadow: 0 30px 0px 0px variables.$color-white,
      0 -5px 20px 3px rgba(0, 0, 0, 0.2);
    .thumbnail {
      border: 6px solid variables.$color-white;
    }
  }

  &.news-card-v,
  &.news-card-h,
  &.news-card-elevated {
    &:hover {
      .thumbnail {
        &::before {
          opacity: 0.6;
          z-index: 2;
        }
        .see-more {
          transform: translate(-50%, -50%);
          opacity: 1;
        }
      }
    }
  }

  .thumbnail {
    position: relative;
    display: flex;
    height: 60%;
    overflow: hidden;
    border: 6px solid transparent;
    transition: variables.$all-200ms-ease;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$color-green-light;
      transition: variables.$all-200ms-ease;
      opacity: 0;
    }
    img {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
    .see-more {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10rem;
      height: 3.125rem;
      color: variables.$color-white;
      border: 1px solid variables.$color-white;
      transition: variables.$all-200ms-ease;
      transform: translate(-50%, -30%);
      opacity: 0;
      i {
        margin-left: 0.6rem;
        transform: rotate(135deg);
      }
    }
  }
  .news-detail {
    height: 40%;
    padding: 1.25rem 0.625rem;
    color: variables.$font-color;
    .title {
      @include mixins.text-overflow(2);
      font-weight: variables.$font-weight-500;
      line-height: 1.1;
      margin-top: 0.625rem;
    }
    .detail {
      @include mixins.text-overflow(5);
      margin-top: 0.625rem;
    }
  }
}

// Board card
.board-card {
  display: flex;
  min-height: 22.75rem;
  @include mixins.media-breakpoint-md {
    flex-direction: column;
    min-height: 18rem;
  }

  .board-img {
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 16.875rem;
    overflow: hidden;
    @include mixins.media-breakpoint-md {
      width: 100%;
      height: 18.5rem;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 100%;
      transform: translate(-50%, -50%);
      @include mixins.media-breakpoint-md {
        width: 65%;
        height: auto;
      }
    }
  }

  .board-detail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0.9375rem 1.25rem;
    background-color: variables.$color-gray-lighter;
    @include mixins.media-breakpoint-md {
      background-color: variables.$color-white;
      padding: 0 1rem 0.9375rem 1rem;
    }

    .name {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.4;
      @include mixins.media-breakpoint-md {
        font-size: 1.35rem;
        font-weight: 500;
        line-height: 1.1;
      }
    }

    .detail-block {
      display: flex;
      flex-direction: column;
      font-size: 1.375rem;
      line-height: 1.1;
      @include mixins.media-breakpoint-md {
        font-size: 1rem;
        line-height: 0.9;
      }
      &:not(:last-child) {
        margin-bottom: 0.625rem;
      }

      .title {
        font-weight: bold;
        @include mixins.media-breakpoint-md {
          font-weight: 500;
        }
      }
    }
  }
}

// Tabs
.app-tabs {
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 3.6875rem;
  font-size: 1rem;
  background-color: variables.$color-white;
  border-bottom: 3px solid variables.$color-black;

  .app-tab {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: variables.$font-weight-300;
    padding: 0 1.875rem;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    transition: variables.$all-200ms-ease;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      transform: translate(-50%, 50%) rotate(45deg);
      width: 1.875rem;
      height: 1.875rem;
      background-color: variables.$color-green-light;
      opacity: 0;
      transition: variables.$all-200ms-ease;
    }

    &:hover,
    &.active {
      color: variables.$color-white;
      background-color: variables.$color-black;
      &::before {
        opacity: 1;
      }
    }
  }
}

// Setting button
.button-setting-wrapper {
  position: relative;
  width: 10rem;
  height: 3.4375rem;
  font-size: 1.6rem;
  &:hover {
    cursor: pointer;
    .button-setting-text {
      width: 100%;
      padding-left: 2.5rem;
    }
    .button-setting {
      i {
        transform: rotate(-180deg);
      }
    }
  }
  .button-setting-text {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 2.9375rem;
    height: 2.9375rem;
    color: variables.$color-white;
    background-color: variables.$color-green;
    border-radius: 50px;
    white-space: nowrap;
    transition: variables.$all-200ms-ease;
  }
  .button-setting {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4375rem;
    height: 3.4375rem;
    background-color: variables.$color-green-light;
    border-radius: 50%;
    i {
      color: variables.$color-white;
      transition: variables.$all-200ms-ease;
    }
  }
  @include mixins.media-breakpoint-md {
    width: 6rem;
    height: 2.4375rem;
    font-size: 1rem;
    &:hover {
      .button-setting-text {
        padding-left: 1.2rem;
      }
    }
    .button-setting-text {
      width: 1.9375rem;
      height: 1.9375rem;
    }
    .button-setting {
      width: 2.4375rem;
      height: 2.4375rem;
    }
  }
}

// SwiperJS override
.swiper-pagination-bullet-active {
  background: variables.$color-green;
}
