body {
  font-family: $font-family;
  font-size: 16px;
  color: $font-color;
}
p {
  font-size: 14px;
}
a {
  color: $color-green;
  text-decoration: underline;
  &:hover {
    color: $color-green-light;
  }
}

// layout
.container {
  max-width: 1200px;
}
.row {
  margin-right: -10px;
  margin-left: -10px;
  > [class*="col-"] {
    padding-right: 10px;
    padding-left: 10px;
  }
}

// font weight
.font-weight-200 {
  font-weight: $font-weight-200;
}
.font-weight-300 {
  font-weight: $font-weight-300;
}
.font-weight-400 {
  font-weight: $font-weight-400;
}
.font-weight-500 {
  font-weight: $font-weight-500;
}

// font colors
.text-black {
  color: $color-black;
}
.text-white {
  color: $color-white;
}
.text-green {
  color: $color-green;
}
.text-green-light {
  color: $color-green-light;
}
.text-brown {
  color: $color-brown;
}
.text-gray {
  color: $color-gray;
}
.text-gray-light {
  color: $color-gray-light;
}

// bg colors
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}
.bg-green {
  background-color: $color-green;
}
.bg-green-light {
  background-color: $color-green-light;
}
.bg-green-dark {
  background-color: $color-green-dark;
}
.bg-brown {
  background-color: $color-brown;
}
.bg-gray {
  background-color: $color-gray;
}
.bg-gray-light {
  background-color: $color-gray-light;
}

// button
.button {
  position: relative;
  display: inline-flex;
  min-width: 150px;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  height: 65px; // override on usage
  line-height: 1;
  cursor: pointer;
  outline: none;

  &.button-round {
    border-radius: 12px;
  }

  &.button-black {
    color: $color-white;
    background-color: $color-black;
  }
  &.button-green-light {
    color: $color-white;
    background-color: $color-green-light;
  }
  &.button-green {
    color: $color-white;
    background-color: $color-green;
  }
  &.button-brown {
    color: $color-white;
    background-color: $color-brown;
  }
  &.button-gray {
    color: $color-white;
    background-color: $color-gray;
  }
}

// header box
.header-box {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 105px;
  height: 64px; // override on usage
  font-weight: $font-weight-300;
  background-color: $color-gray-light;

  i {
    position: absolute;
    z-index: 3;
    left: 9px;
    bottom: 6px;
    font-size: 45px;
    color: $color-white;
    transform: rotate(45deg);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    z-index: 2;
    clip-path: polygon(0 0, 100% 0, 58% 100%, 0 100%);
  }

  &.corner-green-light {
    &::before {
      background-color: $color-green-light;
    }
  }
  &.corner-green {
    &::before {
      background-color: $color-green;
    }
  }
  &.corner-green-dark {
    &::before {
      background-color: $color-green-dark;
    }
  }
}

// social button
.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 7px;
  background-color: $color-green-light;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  i {
    color: white;
    font-size: 30px;
  }
}

// tags
.tags {
  display: flex;
  align-items: center;
  .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    min-width: 60px;
    border-radius: 50px;
    margin-left: 5px;
    background-color: $font-color;
    color: $color-white;
    font-size: 12px;
    font-weight: $font-weight-200;
    cursor: pointer;
    &:first-child {
      margin-left: 20px;
    }
  }
}
