// fonts
$font-family: "Prompt", sans-serif;
$font-color: #2a2a2a;

// layout
$container-fluid-width: 1600px;
$container-width: 1200px;

// colors
$color-black: #2c2c2c;
$color-white: #ffffff;
$color-green: #006b67;
$color-green2: #0e9fa2;
$color-green-light: #c4cf13;
$color-green-light2: #b2bb1c;
$color-green-dark: #0e3b2a;
$color-brown: #7e5439;
$color-gray: #727f85;
$color-gray-light: #dfdfdf;
$color-gray-lighter: #f4f4f4;
$color-yellow: #ffdd00;

// font weight
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;

// Form
$placeholder-color: #878989;

// transition
$all-200ms-ease: all 0.2s ease;

// border
$border-color: rgba(#353737, 0.16);
$border-bottom: 1px solid $border-color;
