// fonts
$font-family: "Prompt", sans-serif;
$font-color: #2a2a2a;

// colors
$color-black: #0f1314;
$color-white: #ffffff;
$color-green: #006b67;
$color-green-light: #c4cf13;
$color-green-dark: #0e3b2a;
$color-brown: #7e5439;
$color-gray: #727f85;
$color-gray-light: #dfdfdf;

// font weight
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
