// fonts
$font-family: 'Prompt', sans-serif;
$font-color: #2a2a2a;

// colors
$color-black: #0f1314;
$color-white: #ffffff;
$color-green-dark: #006b67;
$color-green-light: #c4cf13;
$color-brown: #7e5439;
