@import './app.scss';

.container {
  margin-top: 20px;
}

.sidenav {
  position: sticky;
  top: 20px;
  a {
    text-decoration: none;
  }
  .list-group-item.active {
    background-color: $color-green-dark;
    border-color: $color-green-dark;
  }
}

.content {
  height: 100vh;
  overflow-y: scroll;
}

pre {
  code {
    display: block;
    padding: 10px;
    font-size: 12px;
    background-color: #eee;
    border: 1px solid #999;
  }
}

.storybook-title {
  color: rgba($font-color, 0.8);
}

.color-tile {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 10px;
}
